body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
	display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
}

h1, h2, h3 {
    color: #333;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    margin: 20px 0;
}

#game-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

/* el contenedor del tablero */
#board {
    display: grid;
    grid-template-columns: repeat(10, 30px);  /* 10x10 inicial */
    grid-template-rows: repeat(10, 30px);
    gap: 0;
    margin: 20px auto;
	border: 4px solid darkcyan;
	background-color: darkcyan;
}

/* cada celda del tablero */
.cell {
    width: 30px;
    height: 30px;
    background-color: rgb(137, 195, 197);
    border: 1px solid darkcyan;
	box-sizing: border-box; 
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.cell.runner {
    background-image: url("../img/runner.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.cell.chaser {
    background-image: url("../img/chaser.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.cell.healer {
    background-image: url("../img/healer.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.cell.speeder {
    background-image: url("../img/speeder.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.cell.obstacle {
    background-image: url("../img/obstacle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}